<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>ホームページ</title>
</head>
<body>
    <li><a href="./userListUp">ユーザー一覧ページへ</a></li>
    <li><a href="./userCreate">ユーザー登録ページへ</a></li>
    <li><a href="./userDelete">ユーザー削除ページへ</a></li>
    <li><a href="./fileUpload">アップロードページへ</a></li>
    <li><a href="./fileDownload">ダウンロードページへ</a></li>
    <li><a href="./apiListUp">外部API一覧ページへ</a></li>
    <li><a href="./movieListUp">ムービーー覧ページへ</a></li>
</body>
</html>
