<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>登録ページ</title>
</head>
<body>
    <a href="./home">ホームページへ</a>

    <form method="post" action="/execUserCreate">
        <div>
            <span>
                name
                <input type="text" name="name"/>
            </span>
        </div>
        <div>
            <span>
                role
                <input type="text" name="role"/>
            </span>
        </div>
        <button type="submit">
            <span>Create</span>
        </button>
    </form>
</body>
</html>
